<!-- FAO header container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            FAO HEADER
        </div>
    </div>
</div>

<!-- Top menu container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div id="top-menu-container"></div>
        </div>
    </div>
</div>

<!-- Breadcrumb container -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="breadcrumb-container"></div>
        </div>
    </div>
</div>

<div class="container" id="main-container"></div>

<!-- Page Footer -->
<footer class="container">
    <!-- Logo -->
    <div class="row">
        <div class="col-xs-3">
            <div>LOGO VOH</div>
        </div>
        <div class="col-xs-3 col-xs-offset-6">
            <!-- Social networks -->
            <div class="pull-right">
                <span> <a href="https://facebook.com" target="_blank">facebook</a> </span>
                <span> <a href="https://twitter.com" target="_blank">twitter</a> </span>
                <span> <a href="https://youtube.com" target="_blank">youtube</a> </span>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">{{{ footer_row_1 }}}</div>
    </div>

    <div class="row">
        <div class="col-xs-9">
            <span>VOH© 2015</span><span id="footer-menu-container"></span>
        </div>
        <div class="col-xs-3">
            <span class="pull-right">Powered by <a href="http://fenix.fao.org">FENIX</a></span>
        </div>
    </div>

</footer>