<h1>{{title}}</h1>
<hr>

<form role="form">
    <div class="form-group">
        <input id="country-search-input" class="form-control" type="search" placeholder="Search..." />
    </div>
</form>

<div class="row">
    <div class="col-xs-12">
        <ol id="country-list" class="list-group"></ol>
    </div>
</div>