<!-- Section switcher-->
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li><a href="#visualization/scores"> {{ section_scores }}</a></li>
            <li><a href="#visualization/table">{{ section_table }}</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>TABLE</h1>
    </div>
</div>