.map-home-page {
  height: 400px;
  margin: 0 -15px;
}

.map-toolbar{
  height: 30px;
  width: 50%;
  background-color: white;
  padding: 5px;
  position: relative;
  top: -30px;
  left: calc(50% + 15px);
  text-align: center;


  >div{
    display: inline-block;

    em{
      font-style: normal;
      color: $fx-cool-blue;
    }


  }

  .map-toolbar-form{
    display: inline-block;
  }
}

.voh-intro-text{
  h3{

  }


}