.voh-home{



}




.map-toolbar-form *{
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}






.map-home-page {
  height: 400px;
  margin: 0 -15px;
  position: relative;
  top:-1px;
  overflow: hidden;

  &:before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    pointer-events:none;
    @include fx-box-shadow(0, 0, 25px, rgba(0,0,0,0.25), true);

  }


}

.map-toolbar {
  height: 30px;
  width: 50%;
  background-color: white;
  padding: 5px;
  position: relative;
  top: -30px;
  left: calc(50% + 15px);
  text-align: center;
  z-index: 2;

  > div {
    display: inline-block;

    em {
      font-style: normal;
      color: $fx-cool-blue;
    }

  }

  .map-toolbar-form {
    display: inline-block;
  }
}

.voh-intro-text {
  padding-bottom: 20px;
  border-bottom: 1px solid $fenix-light-hr;
  margin-bottom: 20px;

  .voh-intro-logo-holder{
    >div{
      padding: 5px 20px 5px 0;
    }
  }

  h3 {
    margin-top: 0;
    color: $fx-cool-blue;
    text-transform: uppercase;
  }

}

.voh-home-main-content {

}

.db-updates-list-holder{
  height: 400px;
  overflow-y: scroll;
}

.db-updates-list {
  list-style: none;
  padding-left: 0;
  padding-right: 15px;

  li {
    position: relative;
    padding: 15px 0 15px 70px;
    border-bottom: 1px solid $fenix-light-hr;

    &:last-child{
      border-bottom-color: transparent;
    }

    h3 {
      margin: 0;
      color: $fenix-text;
    }

    .db-update-ico {
      position: absolute;
      left: 0;
      width: 60px;
      text-align: center;
      font-size: 45px;
    }

    .db-update-country {
      font: $fx-text-h4;
      color: $fenix-secondary-text;
    }

    .db-update-date {
      font: $fx-text-h4;
      color: $fx-cool-blue;
    }

    .db-update-link {
      font: $fx-text-h4;
      color: $fenix-text;
    }

  }

}

.voh-home-document-list {
  list-style: none;
  padding-left: 0;

  li {
    padding-left: 10px;
    position: relative;
    margin: 8px 0;

    &:before {
      content: "•";
      color: $fx-cool-blue;
      position: absolute;
      left: 0;
    }

  }

}